<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084095159390-bb47febfchl9ki86n2jiuhpns1ll0p1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084095159390-bb47febfchl9ki86n2jiuhpns1ll0p1g</string>
	<key>API_KEY</key>
	<string>AIzaSyC4O4HPUmCjvEX-IeQNoBZCIlzE75LnT7o</string>
	<key>GCM_SENDER_ID</key>
	<string>1084095159390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emagic.joetravel</string>
	<key>PROJECT_ID</key>
	<string>joetravel-1f150</string>
	<key>STORAGE_BUCKET</key>
	<string>joetravel-1f150.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084095159390:ios:2219867ef8cb572d8f68cf</string>
	<key>DATABASE_URL</key>
	<string>https://joetravel-1f150.firebaseio.com</string>
</dict>
</plist>